<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CAMPS</title>
  </head>
  <body>
    <h1>U have come to blood camps page</h1>
    <ol>
      <li><a href="{% url 'bloodcamps:history' %}" style="text-decoration:none">History</a></li>
      <li><a href="{% url 'bloodcamps:upcoming' %}" style="text-decoration:none">Up coming</a></li>
      <li><a href="{% url 'bloodcamps:newcamppage' %}" style="text-decoration:none">New Camp</a></li>
    </ol>
  </body>
</html>
